
/*
@media screen and (min-width: 640px){
  body{
     text-decoration: line-through;
  }
}*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*main {
  height: 75%;
}*/
section {
  background-color: #577399;
  display: inline-block;
  padding: 1.25em;
}

#reportODMap {
  height: 75%;
  width: 50%
}
