@media screen and (min-width: 640px) {

html, body {
  text-align: center;
  position: absolute;
  width: 100%;
  }
}

@media screen and (max-width: 640px) {
  html, body {
    text-align: center;
    position: absolute;
    width: 100%;
  }
}

section {
  font-family: 'Muli', sans-serif;
  background-color: #577399;
  display: inline-block;
  padding: 1.25em;
}

#mapSection {
  overflow: hidden;
  height: inherit;
  width: inherit;
}

#reportODMap {
 min-height: 80%;
 min-width: 90%;
 margin: 0;
 padding: 0;
 position: relative;
}

#carrierList {
  position: relative;
  display: block;
}

footer {
  font-family: 'Muli', sans-serif;
  background-color: #495867;
  color: #F7F7FF;
  height: 150px;
  position: fixed;
}
