@media only screen and (max-width: 1024px){

  #nav-bar{
  }

  #mobileMenu li {
    padding: 0;
    margin: 0 !important;
  }

  #navigationLinks {
    display: none;
  }

  #mobileMenu {
    visibility: hidden;
    position: absolute;

  }

  #hamburgerMenu{
    max-height: 30px;
    position: fixed;
    right: 30px;
  }

  #mobileNavigation:hover #mobileMenu{
  visibility: visible;
  display: block;
  position: absolute;
  z-index: 3000;
  cursor: pointer;
  right: 0px;
  top: 40px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  background-color: #495867;
  }

  /*how do I add so that the menu slow fades out when you hover off? :after?*/
}
@media only screen and (min-width: 1025px){
  #mobileNavigation{
    display: none;
  }
  #navigationLinks{
    display: flex;
    justify-content: space-around;
  }
  #nav-bar{
    display: flex;
    justify-content: space-around;
  }
  .nav-item{
    padding: 0px;
  }

}

#nav-bar {
  max-height: 35px !important;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #495867;
}

#nav-bar a {
  display: block;
  color: #F7F7FF;
  text-decoration: none;
  padding: 15px;
}

#topDisclaimer {
  display: flex;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  background-color: #495867

}

#landingPage {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 50px;
}

#projectTitle{
  display: flex;
  justify-content: center;
}

#reportOD {
  font-family: 'Muli', sans-serif;
  background-color: #FE5F55;
  color: #F7F7FF;
  font-size: 20px;
  margin: 50px 100px 50px;
  height: 150px;
  width: 150px;
  border: solid 1px #FE5F55;
  border-radius: 50%;
}

#register {
  font-family: 'Muli', sans-serif;
  margin: 50px 50px 20px;
  padding: 5px;
}

#yesReportOD {
  display: flex;
  justify-content: space-around;
  font-family: 'Muli', sans-serif;
  background-color: #FE5F55;
  color: #F7F7FF;
  font-size: 20px;
  margin: 50px 250px 50px;
  height: 150px;
  width: 150px;
  border: solid 1px #FE5F55;
  border-radius: 50%;
  padding-bottom: 20px;
}


#informational h1 {
  margin: 50px 130px 50px;
}

#overdoseSigns {
  display: flex;
  margin-left: 25%;
}

#odSigns{
  justify-content: center;
}

#buttonSpacing{
  height: 30px;
}

#mapInfo {
  margin: 0;
  padding: 50px;
}

li {
  font-size: 20px;
  margin-left: 130px;
  padding: 5px;
}

#zip {
  margin: 0;
}

#zipButton {
  font-family: 'Muli', sans-serif;
  margin-left: 3px
}

#registerCarrier {
  display: flex;
  justify-content: center;
}
#carrierInfoButton {
  font-family: 'Muli', sans-serif;
  margin-left: 3px
}
