#nav-bar a {
  color: #F7F7FF;
  text-decoration: none;
  padding: 15px;
}

#nav-bar a:hover {
  background-color: #BDD5EA;
  color: black;
  padding: 10px;
}

#landingPage {
  display: flex;
  height: 100%;
}

#landingPageDiv {
  display: flex;
  flex-direction: column;
  padding-left: 30%;
}

#reportOD {
  font-family: 'Muli', sans-serif;
  background-color: #FE5F55;
  color: #F7F7FF;
  font-size: 20px;
  margin: 50px 100px 50px;
  height: 150px;
  width: 150px;
  border: solid 1px #FE5F55;
  border-radius: 50%;
}

#register {
  font-family: 'Muli', sans-serif;
  margin: 50px 50px 20px;
  padding: 5px;
}

#yesReportOD {
  font-family: 'Muli', sans-serif;
  background-color: #FE5F55;
  color: #F7F7FF;
  font-size: 20px;
  margin: 50px 250px 50px;
  height: 150px;
  width: 150px;
  border: solid 1px #FE5F55;
  border-radius: 50%
}

#informational h1 {
  display: flex;
  justify-content: center;
  margin: 50px 130px 50px;
}

#informationalDiv {

}

#mapInfo {
  margin: 0;
  padding: 50px;
}

li {
  font-size: 20px;
  margin-left: 130px;
  padding: 5px;
}

#zip {
  margin: 0;
  padding-top: 20px;
}

#zipButton {
  font-family: 'Muli', sans-serif;
  margin-left: 3px
}

#carrierInfoButton {
  font-family: 'Muli', sans-serif;
  margin-left: 3px
}

@media screen and (max-width: 1024px){

  #nav-bar {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #495867;
  }
}

@media screen and (min-width: 1025px){

  #nav-bar {
    display: flex;
    justify-content: space-around;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #495867;
  }


}
