@media only screen and (max-width: 1024px){
  .nav-item:hover{
    display: block;
  }

  #hamburgerMenu:hover{
  }
}
@media only screen and (min-width: 1025px){

  .nav-item:hover{
    text-shadow: 1px 1px 2px grey;
    padding: 0px;
    /*TODO Chris - I think bootstrap is overriding this below?*/
    background-color: transparent;
  }
}

#nav-bar a:hover {
  background-color: #BDD5EA;
  color: black;
  padding: 10px;
}

.is-pressed {
  border-width: thick;
}
